body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.jogo-container {
    display: inline-block;
    margin-top: 20px;
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
}

.celula {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.oculto {
    display: none;
}

.placar {
    margin: 20px;
}

.botao-reiniciar {
    margin-top: 20px;
}

#vez-jogador {
    margin-top: 10px;
    font-weight: bold;
}